<div class="row">
  <div class="col m6 offset-m3 s12">
    <h1>Login</h1>
    <%= flash[:error] %>
    <%= flash[:notice] %>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit "Login", class: 'btn' %>
    <% end %>
  </div>
</div>
