<div class="row">
  <div class="col m6 offset-m3 s12 card z-depth-3 pushdown">
    <div class="login">
      <h1 class="green-text center">Login</h1>
      <p class="strong center red-text animated shake"><%= flash[:error] %></p>
      <%= flash[:notice] %>
      <%= form_for :session, url: login_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'Username', class: 'black-text' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'black-text' %>
        <%= f.submit "Login", class: 'btn green darken-2' %>
      <% end %>
    </div>
  </div>
</div>
