<%= flash[:notice] %>
<%= flash[:error] %>

<h5>Welcome, <%= current_user.username %></h5>

<% @ideas.each do |idea| %>
<div class='idea'>
  <h5> <%= link_to idea.title, idea_path(idea) %> </h5>
  <p> <%= idea.body %> </p>
</div>
<% end %>

<%= link_to "Create Idea", new_idea_path %>
