
<%= flash[:notice] %>
<%= flash[:error] %>

<h5>Welcome, <%= current_user.username %></h5>
<div class="row">
    <% @ideas.each do |idea| %>
  <div class="col s12 m6">
    <div class='card medium'>
      <div class="card-image">
        <% if idea.images.first %>
          <a href="<%= idea_path(idea) %>"><img src="<%= idea.images.first.link %>" alt="" /></a>
        <% else %>
           <a href="<%= idea_path(idea) %>"><%= image_tag 'img-placeholder.jpg' %></a>
         <% end %>
        <span class="card-title"><%= link_to idea.title, idea_path(idea), class: 'white-text' %> </span>
      </div>
      <div class="card-content black-text">
        <p> <%= idea.body[0..140] + '...' %> </p>
      </div>
      <div class="card-action">
        <%= link_to 'EDIT', edit_idea_path(idea) %>
        <%= link_to 'DELETE', idea_path(idea), method: :delete %>
      </div>
    </div>
  </div>
    <% end %>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href='<%= new_idea_path %>' class="btn-floating btn-large red" id="Create Idea">
    <i class="large material-icons">add</i>
  </a>
</div>
