<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="amber darken-2 white-text">
  <nav class="white">
    <div class="container">
      <%= link_to 'Idea Box', root_path, class: 'brand-logo green-text text-darken-4' %>
      <ul class="right">
        <% if current_admin? %>
          <li><%= link_to 'Add New Image', new_admin_image_path, class: 'green-text text-darken-2' %></li>
          <li><%= link_to 'Add New Category', new_admin_category_path, class: 'green-text text-darken-2' %></li>
        <% end %>

        <% if current_user %>
          <li> <%= link_to 'My Ideas', ideas_path, class: 'red-text text-darken-2 strong' %>
          <li><%= link_to 'Logout', logout_path, method: :delete, class: 'green-text text-darken-2' %></li>
        <% else %>
          <li><%= link_to 'Create Account', new_user_path, class: 'green-text text-darken-2' %>
          <li><%= link_to 'Login', login_path, class: 'green-text text-darken-2' %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
